.splide__arrow--prev {
  left: 11px;
}

.splide__arrow--next {
  right: 10px;
}

@media (max-width: 980px) {
  .splide__arrow--prev {
    left: 22px;
  }

  .splide__arrow--next {
    right: 13px;
  }
}

@media (max-width: 650px) {
  .splide__arrow--prev {
    left: 22px;
  }

  .splide__arrow--next {
    right: 9px;
  }
}

@media (max-width: 520px) {
  .splide__arrow--prev {
    left: 4px;
  }

  .splide__arrow--next {
    right: 7px;
  }
}